:root{
    --blue: #203549;
    --blue-transparent: #203549cc;
    --blue-seetrough: #2035492a;
    --green: #81C14B;
    --red: #C14953;
    --light-blue: #B9BFCB;
}

*{
    font-family: 'Quicksand', sans-serif;
    color: var(--blue);
    font-size: 16px;
}

body{
    background-color: #DCDFE5;
}

header{
    text-align: center;
    font-size: 2rem;
    background: var(--blue);
    color: white;
    padding: 3%;
    border-radius: 10px;
}

input {
    border-radius: 8px;
    border:var(--blue) 0.5px solid;
    padding: 4px;
}

input:focus { 
    outline: none !important;
    border-color: var(--blue);       
    box-shadow: 0 0 10px var(--blue);
}

.button-primary{
    color: var(--blue);
    background-color: var(--green);
    border-radius: 8px;
    border-style: none;
}

.button-primary:active{
    background-color: var(--blue);
    color: white;
}

.button-secondary{
    background-color: white;
    border: var(--blue) solid 0.5px;
    border-radius: 8px;
}

.button-secondary:active{
    background-color: var(--blue-seetrough);
}

.contents{
    display: flex;
    width: 100%;
}


.list-bereich{
    margin: 1%;
    width: 65%;
}


.date-bereich{
    text-align: center;
    margin: 0.5%;
}

.date-toggler{
    border: none;
    background: none;
}

.add-bereich{
    background-color: var(--light-blue);
    border: solid 0.5px var(--light-blue);
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 1%;
    justify-content: space-evenly;
}

.description-input{
    width: auto;
}

.amount-input{
    width: auto;
}

.unit-input{
    width: auto;
}

.add-button{
    text-align: center;
    width: auto;
    min-width: fit-content;
}

.entry-unmarked{
    border: 0.5px solid var(--blue);
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    background-color: var(--blue);
    margin: 0.5%;
    padding: 1%;
    display: flex;
    justify-content: space-between;

}

.entry-marked{
    border: 0.5px solid var(--red);
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    background-color: var(--red);
    margin: 0.5%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}

.entry-unmarked span{
    color: white;
}

.entry-marked span{
    color: white;
}

.description-marked{
    display: inline-block;
    width: 37%;
    min-width: fit-content;
    margin-right: 2%;
}

.description-unmarked{
    display: inline-block;
    width: 37%;
    min-width: fit-content;
    margin-right: 2%;
}

.amount{
    display: inline-block;
    width: fit-content;
    text-align: end;
    margin: 0% 0.5%;
    border-left: white 0.5px solid;
    padding-left: 2%;
}

.unit{
    display: inline-block;
    width: fit-content;
    margin: 0% 0.5%;
}

.button-bereich{
    margin-right: 0.5%;
    display:flex;
    justify-content:center;
    align-items:center;
    float: right;
    width: fit-content;
}

.user-entry-info{
    margin-top: 0.5%;
    margin-left: 2%;
}

.user-entry-info span{
    font-size: 0.75rem;
}

.full-entry-info{
    display: inline;
    width: 60%;
    overflow: hidden;
}

.entry-info{
    display: inherit;
}

.edit-container{
    width: 98%;
    height: 100%;
    top: 0;
    position: absolute;
    visibility: hidden;
    display: none;
}

.edit-window{
    background-color: white;
    position: relative;
    height: fit-content;
    max-width: 90vw;
    width: fit-content;
    margin: auto;
    top: 35%;
    border: var(--blue) solid 0.5px;
    border-radius: 10px;
}

.edit-contents{
    padding: 2%;
}

.description-input-edit{
    width: 98%;
}

.amount-input-edit{
    width: 98%;
}

.unit-input-edit{
    width: 98%;
}

.change-button{
    background-color: var(--blue);
    color: white;
    border-radius: 5px;
    border-style: none;
}

.organisation{
    width: 34%;
    margin: 1%;
    min-height: 50vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.information{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    width:100%;
    border: solid var(--light-blue) 0.5px;
    border-radius: 10px;
    padding: 2rem 0;
    background-color: var(--light-blue);

}

.information span{
    display: inline-block;
    margin: 2% 0;
    width: 100%;
    text-align: center;
}

.buyer-button{
    padding: 3%;
    min-width: fit-content;
    width: 20%;
}

.buyer-list{
    border-radius: 10px;
    border: var(--blue) 0.5px solid;
    justify-content: center;
    margin: 2% 10%;
    min-height: 6%;
}

.login{
    padding: 2rem 0;
    justify-content:center;
    align-items:center;
    text-align: center;
    width:100%;
    border: solid var(--light-blue) 0.5px;
    border-radius: 10px;
    background-color: var(--light-blue);
}

.login input{
    width: 45%;
}

.invisible{
    display: none;
}

.visible{
    display: block;
}

button:disabled{
    visibility: hidden;
}

input:disabled{
    visibility: hidden;
}

.button-bereich button {
    border-style: none;
    border: 0.5px solid white;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    margin-right: 1.5%;
    size: 1rem;
}

.button-bereich button:active{
    background-color: var(--light-blue);
    border-color: var(--light-blue);
}

.button-bereich i {
    background-color: transparent;
}

.welcome-message{
    font-size: 1.5rem;
}

hr{
    border: var(--blue) 1px solid;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .contents{
        display: inline;
    }
    .list-bereich {
        width: 100%;
        margin: 0;
    }
    .organisation{
        width: 100%;
        margin: 0;
        margin-top: 1%;
        min-height: fit-content;
        display: inline-block;
    }
  }

  @media screen and (max-width: 380px) {
    *{
        font-size: 12px;
    }
  }